*,
*::after,
*::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    font-size: 62.5%;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}




/* #####################    U T I L I T Y CLASSES    ###################### */


.container{
    max-width: 950px;
    width: 90%;
    margin: auto;
}

.btn{
    display: inline-block;
    cursor: pointer;
    border-radius: 50px;
    text-decoration: none;
    padding: 1em 2.5em;
    outline: none;
    margin-top: 1em;
    text-transform: uppercase;
    font-weight: 500;

}
.btn-primary{
    color: #fff;
    background: #16a083;
    transition: all 0.4s ease-in-out;
}
.btn-primary:hover{
    background: #0f725d;
}
#expl{
    padding: 1rem 1.5rem;
    border-radius: 10px;
    margin-top: 3rem;
    border: 1px slid ;
    font-size: 1.7rem;
    font-weight: bold;
    background: #ffcd8280;
    cursor: pointer;
    transition: .4s;
}
#expl:hover{
    background: #ffaf3780;
}
#expl a{
    color: black;
    text-decoration: none;
}

/* #####################    N A V   B A R    ###################### */


/* FOR DEKSTOP MODE */
.navbar input[type='checkbox'],
.navbar .hamburger-lines{
    display: none;
}

.navbar{
    box-shadow: 0px 5px 10px 0px #aaa;
    position: fixed;
    width: 100%;
    background: #fff;
    color: #000;
    opacity: 0.75;
    z-index: 999;
}

.navbar .navbar-container{
    display: flex;
    justify-content: space-between;
    height: 64px;
    align-items: center;
}

.menu-items{
    order: 2;
    display: flex;
}

.menu-items li{
    text-decoration: none;
    list-style: none;
    margin-left: 1.5rem;
    font-size: 1.6rem;
}

.menu-items input{
    text-decoration: none;
    list-style: none;
    margin-left: 1.5rem;
    font-size: 1.6rem;

}

.menu-items a{
    text-decoration: none;
    color: #444;
    font-weight: 500;
    transition: all 0.4s ease-in-out ;
}
.menu-items a:hover{
    color: #117964;
}
.logo{
    order: 1;
    font-size: 3rem;
}


/* ######################### ABOUT US CSS ########################## */

.about{
    margin: 30px 0;
    text-transform:capitalize;
    font-size: 3.5rem;
}

.about-us{
    padding-top: 6rem;
}


.about-us .about::after{
    content: '';
    display: block;
    border: 4px solid #e63946;
}


/* #################### ITEMS #################### */


.about-us .paragraph-about{
    font-size: 1.3rem;
    padding: 0;
    margin: 0;
    color: #333333b4;
}

.items-container{
    text-align: center;
    margin-top: 2rem;
}

.items-container .left-items{
    width: 50%;
    float: left;
    font-size: 1.5rem;
}
.items-container .right-items{
    width: 50%;
    float: right;
    font-size: 1.5rem;
}

.items-container::after{
    content: '';
    display: block;
    clear: both;
}

.items-container li::before{
    content: '\2713';
    padding-right: 1rem;
    font-weight: bold;
    color: #e63946;
}


.counter{
    text-align: center;
    margin-top: 5rem;
}

.counter .count-item1{
    width: 25%;
    float: left;
}
.counter .count-item2{
    width: 25%;
    float: left;
}
.counter .count-item3{
    width: 25%;
    float: left;
}
.counter .count-item4{
    width: 25%;
    float: right;
}

.counter::after{
    content: '';
    display: block;
    clear: both;
}

.counter .count-items #count-item{
    font-size: 3rem;
    font-weight: 700;
    color: #e63946;
}

.counter .count-items h1{
    font-weight: 400;
}



.banner{
    color: #f4f4f4;
    padding: 1rem;
    background: #e63946;
    box-shadow: 5px 5px 20px 0px #0000006b;
    margin-top: 7rem;
    margin-bottom: 10rem;
}

.banner .left-banner{
    width: 60%;
    float:left;
}
.banner .right-banner{
    width: 40%;
    float:left;
    text-align: right;
}

.banner::after{
    content: '';
    display: block;
    clear:both;
}


.banner .left-banner .banner-line{
    font-size: 2rem;
    margin-top: 1.5rem;
    font-weight: 700;
}

.banner .right-banner .btn-siraj{
    text-align: center;
    display: inline-block;
    font-weight: 700;
    font-size: 3rem;
    text-transform: uppercase;
    border: 4px solid white;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    letter-spacing: 0.5rem;
    color: white;
    transition:.8s ease all ;
}
.banner .right-banner .btn-siraj:hover{
    background: #b92430;
}   

a{
    text-decoration: none;
}



/* #################   FOOTER   ****************** */



.footer h2{
    text-align: center;
    font-size: 2rem;
    padding: 3rem;
    font-weight: 500;
    color: #fff;
    background: rgb(65,65,65);
}